.card{
    border: solid 1px black;
    border-radius: 8px;
    background: url('../../image/circles.png') no-repeat, linear-gradient(to right, #A74CF2, #617BFB);
    margin-bottom: 20px;
    -webkit-box-shadow: -1px 3px 5px 0px rgba(163,163,163,1);
    -moz-box-shadow: -1px 3px 5px 0px rgba(163,163,163,1);
    box-shadow: -1px 3px 5px 0px rgba(163,163,163,1);
}

.Fitness-Card {
    max-height: 240px;
    max-width: 520px;
}

.img {
    height: 8em;
    width: 8em;
    margin-right: 30px;
    border-radius: 5px;
    border: solid 1px black;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(255,255,255,1);
    -moz-box-shadow: 3px 3px 3px 0px rgba(255,255,255,1);
    box-shadow: 3px 3px 3px 0px rgba(255,255,255,1);
    background-color: white;
}

.Fitness-User-Info {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
}



.Fitness-Card-Info {
    padding-left: 0;
    padding-right: 75px;
}

.Fitness-Card-Info h1{
    font-size: 23px;
    color: white;
}

.dato{
    font-size: 16px;
    color: white;
    margin-top: 5px;
}

.cifra{
    font-size: 18px;
    color: black;
    margin-top: 5px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
}